# Unity 自动生成的文件和文件夹
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
# Visual Studio 和 JetBrains Rider 缓存目录
vs/
idea/
# Gradle 缓存目录
gradle/
# 自动生成的解决方案和项目文件
ExportedObj/
consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
# Unity 崩溃报告生成的文件
sysinfo.txt
# 构建输出文件
*.apk
*.aab
*.unitypackage
# 临时生成的 Android 资源文件
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*